body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1, h3{
    text-align: center;
    color: cornsilk;
    font-size: 60px;
    font-family: 'Syne Mono', monospace;
}
img{
    display: block;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.k1, .k2, .k3{
    width: 60px;
    height: 60px;
    background-color: darkgrey;
}